/* CSS Sheet */

body{

text-align:left;
background:url(images/whitebackgrnd.jpeg) top left no-repeat;
font-family:Sofia Pro;
color:orange;
line-height:1.5em;
font-size:15px;
width: 100%;
max-width: 960px;
margin: 0 auto
}

.pageheading{
margin:auto;
text-align: left;
width:800px;
padding-left:0px;
text-transform: uppercase;
}



a:link, a:visited{
color: 
}

a:hover {
color: orange;
}

.wrapper{

margin:auto;
width:800px;
text-align:left;
padding-left:0px;

}
.navigation{
margin:left;
width:800px;
text-align:left;
padding-left: 1px;
}
/* ......................................Top Nav........................................................... */


.nav {
margin: 20px 37px;
margin-bottom:0;
padding:2px;
list-style:none;
height:60px;
width: 100%;
}

.ul menu{
display:block;
width: 100%;
margin:0;
padding:0;
list-style-type:none;
height:30px;
font-size:15px;
font-weight:bold;
background-color: #9E9E9E;

}

.menu li{
display:block;
float:left;
margin:0;
padding:0;
width:20%;
}


.menu li a{
display:block;
width: 50%;
color: #212121;
text-decoration:none;
font-weight:bold;
height:30px;
border-right:none;
}

/*-- this is the colour once you hover over the menu--*/

.menu li a:hover{
opacity: 0.9;
color:orange;
}
/* ......................................Content........................................................... */


.line{
border-top: 1px dashed  #BDBDBD;
}

h1 {
text-shadow:2px -1px #9E9E9E;
color:#212121;   
padding-top:15px;
height: 15px;
font-size:45px;
letter-spacing:2px;
margin:20px 0 20px 0;

}

h2 {
color: #757575; 
padding-top:5px;
font-size: 20px;
letter-spacing:2px;

}

h3{
color: #757575; 
font-size: 20px;
letter-spacing:2px;

}
p{
text-align: justify;  
 -moz-text-align-last: right; /* Code for Firefox */
text-align-last: right;
}

.content{
width:800px;
text-align:left;

}
/* Facebook Icon */
.fa {
padding:0px;
font-size:30px;
width:0px;
text-align:center;
text-decoration: none;
}

/* hover  for facebook */

.fa:hover {
    opacity: 0.3;
}
#map{
width:600px;
height:400px;
margin:auto;
}
.clear{
clear:both;
}

.footer {
height:40px;
text-align:center;
font-size:10px;
padding:0px;
color:black;  
}
